@charset "UTF-8";

h1{
    font-size: 2rem;
    margin: 20px;
}


img {
    width: 300px;
    height: 300px;
}

#container {
    max-width: 960px;
    width: auto;
    margin: 100px auto;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content img {
    margin-right: 50px;
}
.content p {
    margin: 30px;
    line-height: 2;
}

.content-p {
    display: flex;
    flex-direction: column;
}

.content-p button {
    margin: 0 auto;
    width: 200px;
    background-color: aquamarine;
    border-radius: 30px;
    padding: 20px;
}


.showup {
    margin:  80px 0;
    animation-name: showup;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
@keyframes showup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.showup {
    transform: translateX(400px);
}