@charset "UTF-8";

html {
    font-size: 100%;
}

.video-top {
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-top video {
    width: 100%;
    text-align: center;
}

.top-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#top-btn button {
    padding: 10px;
    border-radius: 20px;
    background-color: turquoise;
}

.top-content {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
}
h1{
    color: tomato;
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
    color: tomato;
}

